.bgImage{
    background-image: url('https://images.unsplash.com/photo-1543322748-33df6d3db806?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.formContainer {
    backdrop-filter: blur(10px); 
    background: rgba(59, 52, 52, 0);
    border: 2px solid rgba(255, 255, 255, 0.3);
}